@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");

:root {
  --ff-base: "Source Code Pro", monospace;

  --clr-neutral: #ffe4d3;
}

body {
  font-family: var(--ff-base) !important;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

/* home page */

#home-intro {
  min-height: 90vh;
}

@media (max-width: 990px) {
  #home-intro {
    gap: 1rem;
    overflow: hidden;
  }
}

.hero-text-wrapper {
  position: relative;
}

.bubbles::after,
.bubbles::before {
  position: absolute;
  aspect-ratio: 1 / 1;
  background: var(--clr-neutral);
  border-radius: 50%;
  z-index: -5;
  opacity: 0.5;
}

.bubbles::after {
  content: "";
  width: 20rem;
  left: 5vw;
  top: 15vh;
}

.bubbles::before {
  content: "";
  width: 15rem;
  left: calc(35vw - 5rem);
  bottom: calc(15vh + 5rem);
}

@media (max-width: 375px) {
  .bubbles::after {
    content: "";
    width: 20rem;
    left: 10rem;
    top: 10rem;
  }

  .bubbles::before {
    left: 0rem;
    bottom: 10rem;
  }
}

/* unit off canvas */
.unit-btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.25rem;
}

.unit-exp {
  margin-block: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
}

